{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.username }}|{{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <br>

  <div class="row">
    <div class="col-sm-8">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}

  </div>

{% if object == request.user %}
<!-- Action buttons -->


  <div class="col-sm-4 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>


<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

